beautifulsoup4
imutils
numpy
opencv-contrib-python
pandas
Pillow
pupil-apriltags
pyarrow
requests
streamlit
streamlit-cropper
webcolors
spicy
click
matplotlib
scikit-image
streamlit-embedcode
duckduckgo_search
ipinfo
pymongo
dnspython
streamlit-drawable-canvas